<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FaceCodeStr2EnumValue</key>
	<dict>
		<key>static</key>
		<integer>0</integer>
		<key>ht</key>
		<integer>1</integer>
		<key>hf</key>
		<integer>2</integer>
		<key>hb</key>
		<integer>15</integer>
		<key>fms</key>
		<integer>14</integer>
		<key>fear</key>
		<integer>16</integer>
		<key>fearl</key>
		<integer>17</integer>
		<key>fearr</key>
		<integer>18</integer>
		<key>fbl</key>
		<integer>3</integer>
		<key>fbr</key>
		<integer>4</integer>
		<key>fe</key>
		<integer>6</integer>
		<key>fel</key>
		<integer>7</integer>
		<key>fer</key>
		<integer>8</integer>
		<key>fetil</key>
		<integer>21</integer>
		<key>fetir</key>
		<integer>22</integer>
		<key>fetol</key>
		<integer>23</integer>
		<key>fetor</key>
		<integer>24</integer>
		<key>fn</key>
		<integer>9</integer>
		<key>fnb</key>
		<integer>10</integer>
		<key>fm</key>
		<integer>11</integer>
		<key>fmu</key>
		<integer>25</integer>
		<key>fmd</key>
		<integer>26</integer>
		<key>fmtl</key>
		<integer>12</integer>
		<key>fmtr</key>
		<integer>13</integer>
		<key>fbc</key>
		<integer>5</integer>
		<key>fa</key>
		<integer>20</integer>
		<key>fmb</key>
		<integer>27</integer>
	</dict>
	<key>FaceGroup</key>
	<dict>
		<key>static</key>
		<array>
			<string>static</string>
		</array>
		<key>face</key>
		<array>
			<string>fa</string>
			<string>ht</string>
			<string>hf</string>
			<string>hb</string>
			<string>fms</string>
			<string>fmb</string>
			<string>hb</string>
		</array>
		<key>ear</key>
		<array>
			<string>fear</string>
			<string>fearl</string>
			<string>fearr</string>
		</array>
		<key>brow</key>
		<array>
			<string>fb</string>
			<string>fbl</string>
			<string>fbr</string>
		</array>
		<key>eye</key>
		<array>
			<string>fe</string>
			<string>fel</string>
			<string>fer</string>
			<string>fetil</string>
			<string>fetir</string>
			<string>fetol</string>
			<string>fetor</string>
		</array>
		<key>nose</key>
		<array>
			<string>fn</string>
			<string>fnb</string>
		</array>
		<key>mouse</key>
		<array>
			<string>fm</string>
			<string>fmu</string>
			<string>fmd</string>
			<string>fmtl</string>
			<string>fmtr</string>
		</array>
	</dict>
</dict>
</plist>
